.card-container {
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
  padding-bottom: 20%;
}

.card-container-mobile {
  padding: 5%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 10%;
  padding-bottom: 20%;
}

.main-page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20%;
}
