.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 300%;
}

.side-by-side-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
  padding: 7%;
}

.greeting-container {
  padding-top: 14%;
  justify-content: center;
  line-height: 250%;
  text-align: justify;
}

.noto-sans-kannada {
  font-family: "Noto Sans Kannada", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 300%;
}

.side-by-side-container-mobile {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 5%;
  padding: 10%;
  align-items: center;
  justify-content: center;
}

.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 800;
  font-style: normal;
  font-size: larger;
}

.rubik-mono-one-regular {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}
